<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tester.Needs">

    <uses-permission android:name="android.permission.INTERNET " />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tester.Needs.Common.MyService"></activity>
        <activity android:name="com.tester.Needs.Main.UserInfoActivity" />
        <activity
            android:name="com.tester.Needs.Common.SplashActivity"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.tester.Needs.Main.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tester.Needs.Main.SubActivity" />
        <activity android:name="com.tester.Needs.Main.RegisterActivity" />
        <activity android:name="com.tester.Needs.Main.BoardActivity" />
        <activity android:name="com.tester.Needs.Main.BoardWrite" />
        <activity android:name="com.tester.Needs.Common.ReplyListAdapter" />
        <activity android:name="com.tester.Needs.Common.ReplyList" />
        <activity android:name="com.tester.Needs.Main.BoardContent" />
        <activity android:name="com.tester.Needs.Common.FavoritesFunc" />
        <activity android:name="com.tester.Needs.Main.FavoritesWrite" />
        <activity android:name="com.tester.Needs.Main.Favorites_Adapter" />
        <activity android:name="com.tester.Needs.Common.FavoritesList" />
        <activity android:name="com.tester.Needs.Main.FavoritesFragment" />
        <activity android:name="com.tester.Needs.Common.SubListAdapter" />
        <activity android:name="com.tester.Needs.Common.SubExpAdapter" />
        <activity android:name="com.tester.Needs.Common.SubList" />
        <activity android:name="com.tester.Needs.Main.FreeContent" />
        <activity android:name="com.tester.Needs.Main.HomeFreeContent" />
        <activity android:name="com.tester.Needs.Main.HomeContent" />
        <activity android:name="com.tester.Needs.Setting.MyWriteActivity" />
        <activity android:name="com.tester.Needs.Setting.MyLikeActivity" />
        <activity android:name="com.tester.Needs.Setting.MyReplyActivity" />
        <activity android:name="com.tester.Needs.Setting.PointConversionActivity" />
        <activity android:name="com.tester.Needs.Setting.PointHistoryActivity" />
    </application>

</manifest>