<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tester.Needs">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Main.UserInfoActivity" />
        <activity
            android:name=".Common.SplashActivity"
            android:theme="@style/SplashTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name=".Main.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.SubActivity" />
        <activity android:name=".Main.RegisterActivity" />
        <activity android:name=".Main.BoardActivity" />
        <activity android:name=".Main.BoardWrite" />
        <activity android:name=".Common.ReplyListAdapter" />
        <activity android:name=".Common.ReplyList" />
        <activity android:name=".Main.BoardContent" />
        <activity android:name=".Common.FavoritesFunc" />
        <activity android:name=".Main.FavoritesWrite" />
        <activity android:name=".Main.Favorites_Adapter" />
        <activity android:name=".Common.FavoritesList" />
        <activity android:name=".Main.FavoritesFragment" />
        <activity android:name=".Common.SubListAdapter" />
        <activity android:name=".Common.SubExpAdapter" />
        <activity android:name=".Common.SubList" />
        <activity android:name=".Main.FreeContent" />
        <activity android:name=".Main.HomeFreeContent" />
        <activity android:name=".Main.HomeContent" />
        <activity android:name=".Setting.MyWriteActivity" />
        <activity android:name=".Setting.MyLikeActivity" />
        <activity android:name=".Setting.MyReplyActivity" />
        <activity android:name=".Setting.PointConversionActivity" />
        <activity android:name=".Setting.PointHistoryActivity" />
    </application>

</manifest>